{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=200px width=200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a junior at the University of Texas at Austin.</h3>
        <h3>Welcome to my online portfolio! Take a look around to get to know me. </h3>
        <h3>You can find some of my working projects <a href="{{ .Site.BaseURL }}projects/"> here</a>.</h3>
        <h3>Also, be sure to check out my academic &amp; professional <a href="resume.pdf" target="_blank">resume.</a>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> if you have any questions.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
